<div class="row">
    <div class="col-12">
        <div class="top-section d-flex justify-content-between align-items-center p-3 mb-3 bg-light border rounded">
            <h3 class="m-0">Control de Metas</h3>
        </div>
    </div>
</div>